<main class="h-full flex bg-neutral-900 text-neutral-50 ">
  <aside class="w-60 border-r-2 border-neutral-600 h-full">
    Sidebar
  </aside>
  <section class="flex-1 overflow-y-auto overflow-x-hidden beauty-scrollbar scroller">
    <div class="h-96 bg-white/10">SPACE</div>
    <div class="h-96 bg-white/10">SPACE</div>
    <div class="border-2 border-green-600 h-20 trigger">HOME</div>
    <div class="h-96 bg-white/10">SPACE</div>
    <div class="h-96 bg-white/10">SPACE</div>
  </section>
</main>