/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

html, body{
  height: 100%;
}


.beauty-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.beauty-scrollbar::-webkit-scrollbar-track {
  background: #515151;
}

.beauty-scrollbar::-webkit-scrollbar-thumb {
  background: #252525;
}

.beauty-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #393939;
}

.beauty-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
